<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pinimg.com/736x/8a/83/c6/8a83c63cf0eee5cca42018226cc06176.jpg">
        </ion-avatar>
        <ion-label>
          Estefanie
        </ion-label>
        <ion-button shape="round">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-badge color="primary">256</ion-badge>
        <ion-chip >
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://i.pinimg.com/736x/8a/83/c6/8a83c63cf0eee5cca42018226cc06176.jpg" />
          </ion-avatar>
          <ion-label>Avatar Chip</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pinimg.com/736x/db/a7/9a/dba79afff1a8c7bfbdc603b6c50bfcd5.jpg">
        </ion-avatar>
        <ion-label>
          Danilo
        </ion-label>
        <ion-button shape="round">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-badge color="primary">289</ion-badge>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://i.pinimg.com/736x/db/a7/9a/dba79afff1a8c7bfbdc603b6c50bfcd5.jpg" />
          </ion-avatar>
          <ion-label>Avatar Chip</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>

      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pinimg.com/736x/0d/36/5d/0d365de73d69b3c173b803d179436c34.jpg">
        </ion-avatar>
        <ion-label>
          David
        </ion-label>
        <ion-button shape="round">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-badge color="primary">173</ion-badge>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://i.pinimg.com/736x/0d/36/5d/0d365de73d69b3c173b803d179436c34.jpg" />
          </ion-avatar>
          <ion-label>Avatar Chip</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pinimg.com/736x/e5/8c/45/e58c45ca7039120c358342bc566fe07a.jpg">
        </ion-avatar>
        <ion-label>
          Gloria
        </ion-label>
        <ion-button shape="round">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-badge color="primary">242</ion-badge>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://i.pinimg.com/736x/e5/8c/45/e58c45ca7039120c358342bc566fe07a.jpg" />
          </ion-avatar>
          <ion-label>Avatar Chip</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pinimg.com/736x/94/ab/04/94ab04cc7efc8f51e64181c674b7ddf2.jpg">
        </ion-avatar>
        <ion-label>
          Toño
        </ion-label>
        <ion-button shape="round">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-badge color="primary">167</ion-badge>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://i.pinimg.com/736x/94/ab/04/94ab04cc7efc8f51e64181c674b7ddf2.jpg" />
          </ion-avatar>
          <ion-label>Avatar Chip</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pinimg.com/736x/51/0c/fe/510cfe8068952a7fb19f884a050a0021.jpg">
        </ion-avatar>
        <ion-label>Alondra</ion-label>
        <ion-button shape="round">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-badge color="primary">100</ion-badge>
        <ion-chip>
          <ion-avatar><img alt="Silhouette of a person's head" src="https://i.pinimg.com/736x/51/0c/fe/510cfe8068952a7fb19f884a050a0021.jpg" /></ion-avatar>
          <ion-label>Avatar Chip</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>

      </ion-item>

    </ion-list>


<ion-chip>Default</ion-chip>
<ion-chip color="primary">Primary</ion-chip>
<ion-chip color="secondary">Secondary</ion-chip>
<ion-chip color="tertiary">Tertiary</ion-chip>
<ion-chip color="success">Success</ion-chip>
<ion-chip color="warning">Warning</ion-chip>
<ion-chip color="danger">Danger</ion-chip>
<ion-chip color="light">Light</ion-chip>
<ion-chip color="medium">Medium</ion-chip>
<ion-chip color="dark">Dark</ion-chip>
  </ion-content>



